body {font-family:Verdana, Arial, sans-serif;
      margin: 0;
}
#wrapper { background-color: white;
           color: #000066; 
		   width: auto;
} 
header { background-color: #869dc7;
		   color: #00005D; 
		  margin-top: 0;
		   font-size: 0.9em;
		   height: 4em;
	padding-top: 13px;	   
}
h1 {  padding-bottom: 0.1em;
text-align: center;
margin: 0;
}			  
header span { font-style: italic;
			  font-weight: bold;
			  font-size: .70em;
			  color:#c31ba6;
              padding-left: 11em;
			  margin-top: -0.5em;

}
nav {   padding: 0; background-color: #b3c7e6; 
	
}
nav ul {list-style-type: none; 
		padding-left:5px;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 1px;
		
}

nav li { border-bottom:1px solid#869dc7; text-align: center;} 
nav a  {text-decoration: none;
		line-height: 250%;
	}
nav a:link {color:#006; 
 }
nav a:hover{color: #006; background-color: #fff;
}
#main { margin: 0;
        background-color:#fff;
        color: #000000;
} 
h4 {margin-top: 5px;

margin-bottom: 0px;
color: #006;
font-size: 80%;}

h2 { color: #006; 
     font-family: arial, sans-serif;
font-size: 100%;}
.content {padding: 5px 5px 0 5px; 
} 



p.text {
     
 	 font-size: 12px;
}

img
 {
     max-width: 100%;
     height: auto;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.inline{
	float: none;
	display: block;
	margin: 0 auto 2em;
	width: 90%;
min-width: 250px;}
.thumb{ border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
  
}


footer {font-size:60%;
        font-style: italic;
        background-color: #869dc7;
        text-align: center;
        padding: 10px;
		clear: both;
}

@media only screen and (max-width: 37.5em){
	header span {padding-left: 16em;} 
	
	
}
@media only screen and (min-width: 37.5em) and (max-width: 48em){
	
	header span {padding-left: 32em;}
	nav li {font-size: 120%;}
	h2{font-size: 120%;}
	.content {padding: 10px 10px 0 10px; 
} 
	p.text{ font-size: 14px;}

.inline{
	float:right;
	margin: 0 0.5em 0.5em 0.5em ;
	width:30%;
	min-width: 150px;}
}

@media only screen and (min-width: 48em) and (max-width: 64em){
	#wrapper { margin: 0 auto;
	width: auto; overflow:auto;
	background-color: #f2f5f9; color: #000066;}
	
	header { background-color: #869dc7;
		   color: #00005D; 
		  margin-top: 0;
		   font-size: 1em;
		   height: 4em;
	padding-top: 30px;	   
}
h1 {  padding-bottom: 0.1em;
text-align: center;
margin: 0;
}			  
header span { font-style: italic;
			  font-weight: bold;
			  font-size: .80em;
			  color:#c31ba6;
              padding-left: 30em;
			  margin-top: -0.5em;

}
nav {float: left;
	width: 250px;
	padding: 0; background-color: #f2f5f9;}
	
	
	nav li {border-bottom: none; 
	text-align: left;
		font-size: 110%;}
	
	#main { margin-left: 200px;
	 overflow: auto; display: block;}
	h4{float: right;
	font-size: 80%;}
		h2{font-size: 150%;}
		.content {padding: 10px 10px 0 10px; 
} 
	p.text{font-size:16px;}
	.inline{
	float:right;
	margin: 0 0 0.5em 0.5em ;
	width:30%;
min-width: 100px;}

	
	
footer {font-size:70%;
        font-style: italic;
        background-color: #869dc7;
        text-align: center;
        padding: 10px;
		clear: both;
}

}
@media only screen and (min-width: 64em){
	#wrapper { margin: 0 auto;
	width: auto; overflow:auto;
	background-color: #f2f5f9; color: #000066;}
	
	header { background-color: #869dc7;
		   color: #00005D; 
		  margin-top: 0;
		   font-size: 1.5em;
		   height: 4em;
	padding-top: 30px;	   
}
h1 {  padding-bottom: 0.1em;
text-align: center;
margin: 0;
}			  
header span { font-style: italic;
			  font-weight: bold;
			  font-size: .90em;
			  color:#c31ba6;
              padding-left: 30em;
			  margin-top: -0.5em;

}
nav {float: left;
	width: 280px;
	padding: 0; background-color: #f2f5f9;}
	
	
	nav li {border-bottom: none; 
	text-align: left;
		font-size: 140%;}
	#main { margin-left: 250px;
	 overflow: auto; display: block;}
	h4{float: right;
	font-size: 120%;}
		h2{font-size: 250%;}
		.content {padding: 20px 20px 0 20px; 
} 

	p.text{font-size:18px;}
	.inline{
	float:right;
	margin: 0 0 0.5em 0.5em ;
	width:20%;
	min-width: 200px;}

footer {font-size:80%;
        font-style: italic;
        background-color: #869dc7;
        text-align: center;
        padding: 20px;
		clear: both;
}
}