.nav-brand {font-weight: bold;
font-size: 100%;}

.heading {
    margin:0;
    display: inline-block;
}
.carousel-inner img {
      width: 100%;
      height: auto;
  }
  section#about img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section#about h5 {
	color:#03af34;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
ul.list{ list-style-type: none;
padding-left: 0}
.embed-responsive{
	width: 100%;
height: auto;}
.card-title{color:#741bb5;}
 
section#faculty h2{ color:#741bb5;
margin-top: 5rem;
margin-bottom: 3rem;}

section#schedule h3.schedule-headline {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color:#1e33aa;
}


footer {
  background-color: #01a525;
  color: #fff;
  margin-top: 5em;
}
footer address {
 
  margin-bottom: 4em;
  
}
.fohead
 {
  margin-top: 3em;
  font-weight: bold;
}
footer a {
  font-weight: 300;
  color: #cdf711;
}
.social a{font-size: 3em; 
padding: 0.3rem;
}

.fb-btn, .twit-btn{color: #fff;}

.container form {
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 450px;
  margin: auto;
  
  
}
.form-control{width: 100%;}


.bgcolor{background-color: #b2b8c1;}


.form-group input{height: 48px;
border-radius:5px;
border:0;
font-size: 18px;}

.text-centercontact{text-align: center;
margin-top: 2rem;
font-size: 200%;
}


@media (max-width: 575.98px) {
	h2{font-size: 160%;}
	footer address {
 
  margin-bottom: 1em;
  
}

.fohead
 {
  margin-top: 2em;
  font-weight: bold;
}

.col-form-label{font-size: 24px;
}
	}


@media only screen and (min-width: 576px) and (max-width: 767.98px){
	.nav-brand{ font-weight: bold;
	font-size: 160%;}
	footer address {
 
  margin-bottom: 1em;
  
}
footer h4
 {
  margin-top: 2em;
  
}
}
@media only screen and (min-width: 768px) and (max-width: 991.98px){
	
	.nav-brand{ font-weight: bold;
	font-size: 160%;}
	section#about img {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

section#about h5 {
	color:#03af34;
  margin-top: 3rem;
  margin-bottom: 2rem;
  
}
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px){
	body{font-size: 1.2rem;
	line-height: 1.8rem;}
	.nav-brand{ font-weight: bold;
	font-size: 200%;
	}
	section#about img {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

section#about h5 {
	color:#03af34;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 140%;
}
	section#faculty h2{ margin-top: 4rem;
	margin-bottom: 3rem;}
	.form-group input{height: 54px;
border-radius:5px;
border:0;
font-size: 20px;}
}
