.rclr{
	display: table;
	width: 100%;
	border:  1px solid #006;
}


.borderBtm{border-bottom: 1px solid black;}

img{ 
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 150px;
	height: 150px;

}

.bluclr{
	display: table-cell;
	background-color:#e2d8b7;
	padding: 10px;
}
.bg{
	display: table-cell;
	background-color: #fff;
	padding-left: 5px;
	padding-right:5px;
}
h5
{
    border-bottom:1px solid #006;
    float:left;
    width:100%;
   
	display: inline-block;
	color:#006;
	
}


.fa-fw{margin-right: 5px;

color: #006;

}

.fa-li{margin-right: 10px;
margin-left: 10px;
margin-bottom: 5px;
color: #006;
font-size: 30px;}
* {box-sizing: border-box}

.skillbar {
  width:100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 10px;
  line-height: 15px;
  color: white;
  
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 90%; background-color: #781ebc;}
.UX {width: 85%; background-color: #ff9000;}
.ph {width: 80%; background-color: #faff00;}


@media only screen and (min-width: 550px)and (max-width: 768px){
	ul.fa-ul{padding-bottom: 15px;
padding-top: 10px;}
}


@media only screen and (min-width: 768px)and (max-width:1024px){
	body{font-size: 1.6em;}
	h6{font-weight: bold;}
}
@media only screen and (min-width: 1024px){
	body{font-size: 1.8em;}
	h6{font-weight: bold;}
}
	